<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<connectionStrings>
		<add name="AccountsConnString" connectionString="server=10.10.53.35\SBSDEVELOPMENT;user=sbsuser;pwd=sbsuser;database=SBS_Accounts"/>
		<add name="ClaimsConnString" connectionString="server=10.10.53.35\SBSDEVELOPMENT;user=sbsuser;pwd=sbsuser;database=Site"/>
		<add name="nCompassConnectionString" connectionString="server=10.10.53.35\SBSDEVELOPMENT;user=sbsuser;pwd=sbsuser;database=nCompass"/>
		<add name="NoEntityClaimsConnString" connectionString="server=10.10.53.35\SBSDEVElOPMENT;user=sbsuser;pwd=sbsuser;database=Claims_Dev"/>
		<add name="MiConnString" connectionString="server=10.10.53.35\SBSDEVELOPMENT;user=sbsuser;pwd=sbsuser;database=MI_Tracker"/>
		<add name="AccountsConnString" connectionString="server=nscaperes2012;user=sa;pwd=Nsc4pe.sql;database=SBS_Accounts" />
		<add name="ClaimsConnString" connectionString="server=nscaperes2012;user=sa;pwd=Nsc4pe.sql;database=Site" />
		<add name="nCompassConnString" connectionString="server=nscaperes2012;user=sa;pwd=Nsc4pe.sql;database=nCompass" />
		<add name="nCompassConnectionString" connectionString="server=nscaperes2012;user=sa;pwd=Nsc4pe.sql;database=nCompass" />
		<add name="NoEntityClaimsConnString" connectionString="server=nscaperes2012;user=sa;pwd=Nsc4pe.sql;database=Claims" />
		<add name="MiConnString" connectionString="server=nscaperes2012;user=sa;pwd=Nsc4pe.sql;database=MI_Tracker" />
		<add name="ClaimsEntities" connectionString="metadata=res://*/Models.Claims.csdl|res://*/Models.Claims.ssdl|res://*/Models.Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.35\sbsdevelopment;initial catalog=Claims_Dev;persist security info=True;user id=sbsuser;password=sbsuser;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="ClaimsdbEntities" connectionString="metadata=res://*/ClaimsdbModel1.csdl|res://*/ClaimsdbModel1.ssdl|res://*/ClaimsdbModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.35\sbsdevelopment;initial catalog=Claims_Dev;persist security info=True;user id=sbsuser;password=sbsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

		<!--
		<add name="ClaimsEntities" connectionString="metadata=res://*/Models.Claims.csdl|res://*/Models.Claims.ssdl|res://*/Models.Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.24;initial catalog=Claims;persist security info=True;user id=sbsuser;password=sbsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="nCompassEntities" connectionString="metadata=res://*/nCompass.csdl|res://*/nCompass.ssdl|res://*/nCompass.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.24;initial catalog=nCompass;persist security info=True;user id=sbsuser;password=sbsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ClaimsdbEntities" connectionString="metadata=res://*/ClaimsdbModel1.csdl|res://*/ClaimsdbModel1.ssdl|res://*/ClaimsdbModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.24;initial catalog=Claims;persist security info=True;user id=sbsuser;password=sbsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="AccountsConnString" connectionString="server=10.10.53.24;user=sbsuser;pwd=sbsuser;database=SBS_Accounts" />
		<add name="ClaimsConnString" connectionString="server=10.10.53.24;user=sbsuser;pwd=sbsuser;database=Site" />
		<add name="ConnectString" connectionString="server=10.10.53.24;user=sbsuser;pwd=sbsuser;database=Claims" />
		<add name="nCompassConnString" connectionString="server=10.10.53.24;user=sbsuser;pwd=sbsuser;database=nCompass" />
		<add name="nCompassConnectionString" connectionString="server=10.10.53.24;user=sbsuser;pwd=sbsuser;database=nCompass" />
		<add name="NoEntityClaimsConnString" connectionString="server=10.10.53.24;user=sbsuser;pwd=sbsuser;database=Claims" />
		<add name="MiConnString" connectionString="server=10.10.53.24;user=sbsuser;pwd=sbsuser;database=MI_Tracker" />
		<add name="uk_postcodes_feb_2011Entities" connectionString="metadata=res://*/Models.RoyalMail.csdl|res://*/Models.RoyalMail.ssdl|res://*/Models.RoyalMail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.35\SBSDEVELOPMENT;initial catalog=uk_postcodes_feb_2011;user id=sbsuser;password=sbsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		-->

<!--
		<add name="ClaimsEntities" connectionString="metadata=res://*/Models.Claims.csdl|res://*/Models.Claims.ssdl|res://*/Models.Claims.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.32;initial catalog=Claims;persist security info=True;user id=sbsuser;password=sbsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="nCompassEntities" connectionString="metadata=res://*/nCompass.csdl|res://*/nCompass.ssdl|res://*/nCompass.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.32;initial catalog=nCompass;persist security info=True;user id=sbsuser;password=sbsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ClaimsdbEntities" connectionString="metadata=res://*/ClaimsdbModel1.csdl|res://*/ClaimsdbModel1.ssdl|res://*/ClaimsdbModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.32;initial catalog=Claims;persist security info=True;user id=sbsuser;password=sbsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="AccountsConnString" connectionString="server=10.10.53.32;user=sbsuser;pwd=sbsuser;database=SBS_Accounts" />
		<add name="ClaimsConnString" connectionString="server=10.10.53.32;user=sbsuser;pwd=sbsuser;database=Site" />
		<add name="ConnectString" connectionString="server=10.10.53.32;user=sbsuser;pwd=sbsuser;database=Claims" />
		<add name="nCompassConnString" connectionString="server=10.10.53.32;user=sbsuser;pwd=sbsuser;database=nCompass" />
		<add name="nCompassConnectionString" connectionString="server=10.10.53.32;user=sbsuser;pwd=sbsuser;database=nCompass" />
		<add name="NoEntityClaimsConnString" connectionString="server=10.10.53.32;user=sbsuser;pwd=sbsuser;database=Claims" />
		<add name="MiConnString" connectionString="server=10.10.53.32;user=sbsuser;pwd=sbsuser;database=MI_Tracker" />
		<add name="uk_postcodes_feb_2011Entities" connectionString="metadata=res://*/Models.RoyalMail.csdl|res://*/Models.RoyalMail.ssdl|res://*/Models.RoyalMail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.53.35\SBSDEVELOPMENT;initial catalog=uk_postcodes_feb_2011;user id=sbsuser;password=sbsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		-->
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
</configuration>
